@{
    ViewData["Title"] = "PH Home Page";
}



<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head><script src="/docs/5.3/assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    



  </head>
  <body>
      <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
            <h1 class="text-body-emphasis">Programming HubDev</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                At Programming Hub, we believe in the power of collaboration and knowledge sharing to fuel innovation and drive the technology industry forward. We have created a vibrant online community that brings together developers from around the world, providing them with a platform to learn, connect, and work on exciting projects together.
                </p>
               @* Our Vision:
                Our vision is to create a global hub where developers can find endless opportunities for growth, learning, and collaboration. We aim to foster a supportive and inclusive environment that empowers developers of all skill levels to push their boundaries and achieve their professional goals.

                Learning Opportunities:
                Programming Hub is dedicated to helping developers enhance their skills and expand their knowledge base. We offer a rich collection of resources, including tutorials, articles, and interactive coding challenges, covering a wide range of programming languages and technologies. Whether you are a beginner taking your first steps into coding or an experienced professional seeking to stay up-to-date with the latest trends, we have something for everyone.

                Collaboration and Networking:
                At Programming Hub, we understand the immense value of collaboration in the software development process. We provide a robust platform that facilitates networking and collaboration among developers. Our discussion forums, chat rooms, and project boards enable you to connect with like-minded individuals, share ideas, and collaborate on real-world projects. By working together, we can tackle challenges more effectively and create innovative solutions.

                Projects and Challenges:
                Programming Hub offers a dynamic project ecosystem, where developers can participate in both individual and group projects. Our platform hosts a diverse range of project ideas spanning various domains and technologies, allowing you to find projects that align with your interests and expertise. Additionally, we organize coding challenges and hackathons that encourage developers to test their skills, showcase their talent, and win exciting prizes.

                Community Support:
                At the core of Programming Hub is our vibrant and supportive community. We believe in the power of collaboration, and our community members are always ready to help each other overcome challenges, provide feedback, and offer guidance. Our experienced mentors and industry experts actively engage with the community, providing valuable insights and fostering an environment of continuous learning and improvement.
*@
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                Join Programming Hub today and become a part of our global network of passionate developers. Unleash your potential, learn from the best, and embark on a fulfilling journey of growth and innovation. Together, let's create the future of technology!
            </p>
                <p class="col-lg-8 mx-auto fs-5 text-muted">
                Happy coding!

                The Programming Hub Team
            </p>
            <div class="d-inline-flex gap-2 mb-5">
                <button class="d-inline-flex align-items-center btn btn-primary btn-md px-4 rounded-pill" type="button">
                    Call to action
                    <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short" /></svg>
                </button>
                <button class="btn btn-outline-primary btn-md px-4 rounded-pill" type="button">
                    Secondary link
                </button>
            </div>
        </div>
    </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
      


</body>
</html>